.form-horizontal{
	/* margin-top: 6.25rem; */
}

body{
	/* background: url(../img/shimingbg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}